nodered/ncd-to-maintainx.json
[
    {
        "id": "30881a3c21636a64",
        "type": "tab",
        "label": "NCD - MaintainX",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5dc53aaa7b7d46a7",
        "type": "change",
        "z": "30881a3c21636a64",
        "name": "get-uptime",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload.sensor_data.ct_input_uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 460,
        "wires": [
            [
                "01fdef186e39b0b5"
            ]
        ]
    },
    {
        "id": "6d1d808dc42e04f8",
        "type": "function",
        "z": "30881a3c21636a64",
        "name": "MaintainX",
        "func": "// Reference\n// https://api.getmaintainx.com/v1/docs#tag/Meters/paths/~1meterreadings/post\n// MAINTAINX - METER READINGS\n\nmsg.payload = [\n    {\n        \"meterId\": msg.meterId,\n        \"value\": msg.value,\n        \"readingDate\": new Date(msg.payload.received).toISOString()\n    }\n]\n// Endpoint\nmsg.url = \"https://api.getmaintainx.com/v1/meterreadings\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 460,
        "wires": [
            [
                "7aeb5cc29c3403f9",
                "25ccd47849c8229b"
            ]
        ],
        "icon": "font-awesome/fa-file-excel-o"
    },
    {
        "id": "25ccd47849c8229b",
        "type": "http request",
        "z": "30881a3c21636a64",
        "name": "MaintainX - POST",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [],
        "x": 1750,
        "y": 460,
        "wires": [
            [
                "eb769d22fee15507"
            ]
        ],
        "icon": "font-awesome/fa-file-excel-o"
    },
    {
        "id": "eb769d22fee15507",
        "type": "switch",
        "z": "30881a3c21636a64",
        "name": "error-handler",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "201",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1970,
        "y": 460,
        "wires": [
            [
                "8f0b014dc073da23"
            ],
            [
                "2f412261d808971e"
            ]
        ]
    },
    {
        "id": "0815043ab9ecdd48",
        "type": "change",
        "z": "30881a3c21636a64",
        "name": "get-counter",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload.sensor_data.ct_input_counter",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 400,
        "wires": [
            [
                "5370c71c441cbe54"
            ]
        ]
    },
    {
        "id": "d5b6761876880cc9",
        "type": "change",
        "z": "30881a3c21636a64",
        "name": "get-battery",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload.battery_percent",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "$number(value)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 520,
        "wires": [
            [
                "e41f72a050e9131f"
            ]
        ]
    },
    {
        "id": "7aeb5cc29c3403f9",
        "type": "debug",
        "z": "30881a3c21636a64",
        "name": "meter_reading_format",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 540,
        "wires": []
    },
    {
        "id": "527d0e259674cd48",
        "type": "switch",
        "z": "30881a3c21636a64",
        "name": "filter-sensor-data",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sensor_data",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 460,
        "wires": [
            [
                "0815043ab9ecdd48",
                "5dc53aaa7b7d46a7",
                "d5b6761876880cc9"
            ]
        ]
    },
    {
        "id": "fefbb3e4b9395036",
        "type": "delay",
        "z": "30881a3c21636a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1185,
        "y": 460,
        "wires": [
            [
                "cabd56fc99f635e2"
            ]
        ],
        "l": false
    },
    {
        "id": "23e65a46a57b11b2",
        "type": "delay",
        "z": "30881a3c21636a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1185,
        "y": 520,
        "wires": [
            [
                "cabd56fc99f635e2"
            ]
        ],
        "l": false
    },
    {
        "id": "eaf14a2e14c1fd86",
        "type": "delay",
        "z": "30881a3c21636a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1185,
        "y": 400,
        "wires": [
            [
                "cabd56fc99f635e2"
            ]
        ],
        "l": false
    },
    {
        "id": "073095ad397e4900",
        "type": "comment",
        "z": "30881a3c21636a64",
        "name": "Set sensor_data here",
        "info": "",
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "6d964f68005976a2",
        "type": "comment",
        "z": "30881a3c21636a64",
        "name": "Format meter readings ",
        "info": "",
        "x": 1500,
        "y": 420,
        "wires": []
    },
    {
        "id": "5370c71c441cbe54",
        "type": "change",
        "z": "30881a3c21636a64",
        "name": "set-meter-id",
        "rules": [
            {
                "t": "set",
                "p": "meterId",
                "pt": "msg",
                "to": "",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 400,
        "wires": [
            [
                "eaf14a2e14c1fd86"
            ]
        ]
    },
    {
        "id": "01fdef186e39b0b5",
        "type": "change",
        "z": "30881a3c21636a64",
        "name": "set-meter-id",
        "rules": [
            {
                "t": "set",
                "p": "meterId",
                "pt": "msg",
                "to": "",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 460,
        "wires": [
            [
                "fefbb3e4b9395036"
            ]
        ]
    },
    {
        "id": "e41f72a050e9131f",
        "type": "change",
        "z": "30881a3c21636a64",
        "name": "set-meter-id",
        "rules": [
            {
                "t": "set",
                "p": "meterId",
                "pt": "msg",
                "to": "",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 520,
        "wires": [
            [
                "23e65a46a57b11b2"
            ]
        ]
    },
    {
        "id": "1b8fb75d01ac1eb5",
        "type": "function",
        "z": "30881a3c21636a64",
        "name": "create-new-automated-meter",
        "func": "// Reference\n// https://api.getmaintainx.com/v1/docs#tag/Meters/paths/~1meters/post\n// MAINTAINX - AUTOMATED METER\n\nmsg.payload = {\n    \"name\": msg.new_automated_meter.name,\n    \"description\": msg.new_automated_meter.description,\n    \"measurementType\": \"AUTOMATED_SENSOR\",\n    \"unit\": msg.new_automated_meter.unit,\n    \"assetId\": msg.new_automated_meter.assetId,\n    \"locationId\": msg.new_automated_meter.locationId\n}\n// Endpoint\nmsg.url = \"https://api.getmaintainx.com/v1/meters\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 220,
        "wires": [
            [
                "760c41459fd0457e",
                "25ccd47849c8229b"
            ]
        ],
        "icon": "font-awesome/fa-file-excel-o"
    },
    {
        "id": "b3845f4d564c86ca",
        "type": "inject",
        "z": "30881a3c21636a64",
        "name": "enable-flow",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 710,
        "y": 220,
        "wires": [
            [
                "c0fd97a2b48c4880"
            ]
        ]
    },
    {
        "id": "5ec1dedac8505809",
        "type": "function",
        "z": "30881a3c21636a64",
        "name": "validator",
        "func": "if(msg.new_automated_meter.name != \"\" && msg.new_automated_meter.unit != \"\" && msg.new_automated_meter.assetId != \"\" && msg.new_automated_meter.locationId != \"\"){\n    return msg;\n}\nelse{\n    node.error(\"One or more parameters are missing\", msg);\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 220,
        "wires": [
            [
                "1b8fb75d01ac1eb5"
            ]
        ]
    },
    {
        "id": "760c41459fd0457e",
        "type": "debug",
        "z": "30881a3c21636a64",
        "name": "new_meter_fomat",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1650,
        "y": 220,
        "wires": []
    },
    {
        "id": "8f0b014dc073da23",
        "type": "json",
        "z": "30881a3c21636a64",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 2095,
        "y": 400,
        "wires": [
            [
                "490d6ccd601385d8",
                "f444510af865c5df"
            ]
        ],
        "l": false
    },
    {
        "id": "490d6ccd601385d8",
        "type": "switch",
        "z": "30881a3c21636a64",
        "name": "new-meter-response",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "id",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2240,
        "y": 360,
        "wires": [
            [
                "1cf9895494b820c6"
            ]
        ]
    },
    {
        "id": "1cf9895494b820c6",
        "type": "debug",
        "z": "30881a3c21636a64",
        "name": "meter_id",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.id",
        "targetType": "msg",
        "statusVal": "payload.id",
        "statusType": "auto",
        "x": 2480,
        "y": 360,
        "wires": []
    },
    {
        "id": "f444510af865c5df",
        "type": "switch",
        "z": "30881a3c21636a64",
        "name": "new-reading-response",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "meterId",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2240,
        "y": 440,
        "wires": [
            [
                "1f5c3cdac18b5494"
            ]
        ]
    },
    {
        "id": "1f5c3cdac18b5494",
        "type": "debug",
        "z": "30881a3c21636a64",
        "name": "reading_response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2450,
        "y": 440,
        "wires": []
    },
    {
        "id": "cabd56fc99f635e2",
        "type": "function",
        "z": "30881a3c21636a64",
        "name": "validator",
        "func": "if(msg.meterId != \"\" && msg.value != \"\"){\n    return msg;\n}\nelse{\n    node.error(\"meterId and value are required\", msg);\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 460,
        "wires": [
            [
                "6d1d808dc42e04f8"
            ]
        ]
    },
    {
        "id": "75a60946c5ef8010",
        "type": "comment",
        "z": "30881a3c21636a64",
        "name": "Set merer IDs here",
        "info": "",
        "x": 1090,
        "y": 360,
        "wires": []
    },
    {
        "id": "6c559099f0a75a51",
        "type": "comment",
        "z": "30881a3c21636a64",
        "name": "Flow to create new automated meters",
        "info": "",
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "85ac6b520144791e",
        "type": "comment",
        "z": "30881a3c21636a64",
        "name": "Set properties here",
        "info": "",
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "455d91525f2969b0",
        "type": "comment",
        "z": "30881a3c21636a64",
        "name": "Flow to create new meter readings",
        "info": "",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "279241eba660a63a",
        "type": "comment",
        "z": "30881a3c21636a64",
        "name": "MaintainX credentials here",
        "info": "",
        "x": 1770,
        "y": 420,
        "wires": []
    },
    {
        "id": "e563686f550fbdeb",
        "type": "comment",
        "z": "30881a3c21636a64",
        "name": "Requirements",
        "info": "MaintainX \n- Location Created (ID)\n- Asset Created (ID)",
        "x": 690,
        "y": 160,
        "wires": []
    },
    {
        "id": "016eeeddcf77d844",
        "type": "comment",
        "z": "30881a3c21636a64",
        "name": "Requirements",
        "info": "MaintainX \n- Automated Meter Created (ID)",
        "x": 550,
        "y": 400,
        "wires": []
    },
    {
        "id": "2f412261d808971e",
        "type": "debug",
        "z": "30881a3c21636a64",
        "name": "response_error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2220,
        "y": 500,
        "wires": []
    },
    {
        "id": "c0fd97a2b48c4880",
        "type": "change",
        "z": "30881a3c21636a64",
        "name": "set-meter-properties",
        "rules": [
            {
                "t": "set",
                "p": "new_automated_meter.name",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "new_automated_meter.description",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "new_automated_meter.unit",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "new_automated_meter.assetId",
                "pt": "msg",
                "to": "",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "new_automated_meter.locationId",
                "pt": "msg",
                "to": "",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 220,
        "wires": [
            [
                "5ec1dedac8505809"
            ]
        ]
    },
    {
        "id": "233642609660dda9",
        "type": "ncd-gateway-node",
        "z": "30881a3c21636a64",
        "name": "",
        "connection": "",
        "unknown_devices": 0,
        "outputs": 1,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "dd6a6479e4c38b0c",
                "527d0e259674cd48"
            ]
        ]
    },
    {
        "id": "dd6a6479e4c38b0c",
        "type": "debug",
        "z": "30881a3c21636a64",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 400,
        "wires": []
    },
    {
        "id": "3c8f113f485c254b",
        "type": "comment",
        "z": "30881a3c21636a64",
        "name": "Select the Serial Device",
        "info": "",
        "x": 140,
        "y": 420,
        "wires": []
    }
]
